div[data-path*='attachments'], div[data-path*='attachments'] + div.nav-folder-children 
{
    display: none;
}

.external-link {
  background-image: none;
  padding-right: 0px;
}

/* Don't wrap codeblocks */
pre > code, code[class*="language-"] {
    white-space: pre !important;
}